body {
    position: relative;
}

header {
    width: 100%;
    height: 700px;
    position: relative;
}

header img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    filter: brightness(0.5);
}

.contenedor-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    height: 70px;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 0 0 40px 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 9999;
    overflow: hidden;
}

.logo {
    margin: 0;
    margin-left: 30px;
}

.logo img {
    width: 150px;
    object-fit: cover;
}

.hamburguesa {
    display: none;
}

.menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.social {
    margin-right: 30px;
}


.social ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;

}

.social i {
    font-size: 25px;
    color: white;
}


.titulo {
    position: absolute;
    top: 280px;
    color: white;
    margin-left: 100px;
}

.titulo h1 {
    font-size: 60px;
}

.titulo p {
    font-size: 30px;
    text-transform: capitalize;
}

/* hover menu */

.hover::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    display: block;
    transition: all .6s ease;
}

.hover:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .menu {
        display: none;
    }

    .social {
        display: none;
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo img {
        margin-left: 30px;
    }

    .hamburguesa {
        display: block;
        margin-right: 30px;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
}

.nav2 {
    position: fixed;
    top: 0;
    background-color: brown;
    width: 250px;
    height: 100vh;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: left .6s ease;
    left: -400px;
    z-index: 9999;

}

.nav2.active {
    left: 0;
}

.nav2 h2 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    margin-left: 30px;
}

.menu2 ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    align-items: center;

}

.menu2 a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.social2{
    display: flex;
    width: 100%;
    justify-content: end;
    padding-right: 30px;
}


.social2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.social2 i {
    color: white;
    font-size: 25px;

}

/* barra banner */

.barra-banner {
    height: 60px;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.barra-banner ul {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
    list-style: none;
    margin: 0;

}

.barra-banner i {
    margin-right: 10px;
}

@media (max-width: 1100px) {
    .barra-banner {
        display: none;
    }
}

/* nuestra carta */



.carousel-item img {
    height: 500px;
    object-fit: contain;
}

.carousel-control-prev-icon {
    padding: 20px;
    border-radius: 50%;
}

.carousel-control-next-icon {
    padding: 20px;
    border-radius: 50%;
}


/* promociones */

.promociones {
    position: relative;
}

.promociones img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(0.5);

}

.texto-promo {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}

.texto-promo p {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

/* hace tu pedido */
.contenedor-formulario{
    margin-top: 100px;
    margin-bottom: 100px;
}

.form-box{
    display: flex;
    justify-content: center;
    position: s;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

input,
textarea,
.boton-what {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.boton-what {
    background: #25d366;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.boton-what:hover {
    background: #20b955;
}

.form-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.form-img img{
    width: 400px;
    height: 400px;
    border-radius: 12px;
    transition: all .6s ease;
    
    
}


h3{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.form-img img:hover{
    filter: brightness(0.7);
}


/* boton whatsapp */
.boton-whatsapp{
    width: 200px;
    background-color: #25d366;
    height: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 25px;
    right: 30px;
    cursor: pointer;
    border: 2px solid white;
    z-index: 8888;
}

.boton-whatsapp i{
    font-size: 30px;
    margin-right: 10px;
    color: white;
    
}

.boton-whatsapp span{
    color: white;
    font-weight: 500;
}

/* footer */

.contain{
    width: 100%;
    height: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.contain img{
    width: 200px;
    margin-bottom: 50px;
}

/* comentarios */

.img-comentarios img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.text-copmentarios h2{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
}

.text-copmentarios p{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.cont-coment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .contenedor-coment {
      width: 600px;
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    h2 {
      text-align: center;
      margin-bottom: 15px;
    }

    textarea {
      width: 100%;
      height: 80px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      resize: none;
      font-size: 14px;
    }

    .boton-coment {
      margin-top: 10px;
      padding: 10px;
      width: 100%;
      background: #3498db;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
    }

    .boton-coment:hover {
      background: #2980b9;
    }

    .comentarios {
      margin-top: 20px;
    }

    .comentario {
      background: #f1f1f1;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
    }

    .btn-borrar {
      background: #e74c3c;
    }

    .emoji-panel {
      margin: 10px 0;
      padding: 8px;
      background: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 8px;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: center;
    }

    .emoji-panel span {
      cursor: pointer;
      font-size: 20px;
      transition: transform 0.2s;
    }

    .emoji-panel span:hover {
      transform: scale(1.2);
    }

    /* modo oscuro */

    #botonOscuro{
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background-color: black;
        color: white;
        border: 2px solid white;
        margin-right: 30px;

    }

    .oscuro #botonOscuro {
      background-color: white;
      color: black;
      border: 2px solid black;
    }

    .oscuro {
      background-color: black;
      color: white;
    }

    .boton-nav2{
        right: 10px;
    }